CT_CONFIG_VERSION="4"
CT_ARCH_X86=y
CT_ARCH_64=y
CT_KERNEL_LINUX=y
# CT_KERNEL_LINUX_INSTALL_CHECK is not set
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_LIBC_UCLIBC_NG=y
CT_LIBC_UCLIBC_DEBUG_LEVEL_3=y
CT_LIBC_UCLIBC_HAS_SSP=y
CT_CC_GCC_ENABLE_DEFAULT_PIE=y
CT_CC_GCC_LIBMUDFLAP=y
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBSSP=y
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_LIBMPX=y
CT_CC_CXA_ATEXIT=y
CT_CC_GCC_TM_CLONE_REGISTRY=y
CT_CC_GCC_SJLJ_EXCEPTIONS=y
CT_CC_GCC_LDBL_128=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_GDB_NATIVE=y

