*~
*.un~
build/*
package/alsa-lib/alsa-lib-1.2.11.tar.bz2
package/alsa-lib/alsa-lib/*
package/alsa-utils/alsa-utils-1.2.11.tar.bz2
package/alsa-utils/alsa-utils/*
package/busybox/busybox-1.36.1.tar.bz2
package/busybox/busybox/*
package/curl/curl-8.6.0.tar.xz
package/curl/curl/*
package/dbus/dbus-1.14.10.tar.xz
package/dbus/dbus/*
package/fuse-overlayfs/fuse-overlayfs/*
package/fuse-overlayfs/v1.13.tar.gz
package/git/git-2.44.0.tar.gz
package/git/git/*
package/hostap/hostap/*
package/hostap/hostap_2_10.tar.gz
package/libexpat/expat-2.6.0.tar.xz
package/libexpat/libexpat/*
package/libnl/libnl-3.9.0.tar.gz
package/libnl/libnl/*
package/libpcap/libpcap-1.10.4.tar.gz
package/libpcap/libpcap/*
package/lz4/lz4-1.9.4.tar.gz
package/lz4/lz4/*
package/ncurses/ncurses.tar.gz
package/ncurses/ncurses/*
package/openssh/openssh-9.6p1.tar.gz
package/openssh/openssh/*
package/openssl/openssl-3.2.1.tar.gz
package/openssl/openssl/*
package/qt5/qt-everywhere-opensource-src-5.15.12.tar.xz
package/qt5/qt5/*
package/squashfs-tools-ng/squashfs-tools-ng/*
package/squashfs-tools-ng/v1.0.7.tar.gz
package/strace/strace-6.7.tar.xz
package/strace/strace/*
package/tcpdump/tcpdump-4.99.4.tar.gz
package/tcpdump/tcpdump/*
package/vmtouch/v1.3.1.tar.gz
package/vmtouch/vmtouch/*
package/zlib/zlib-1.3.1.tar.gz
package/zlib/zlib/*
package/bash/bash-5.2.21.tar.gz
package/bash/bash/*
package/bison/bison-3.8.tar.xz
package/bison/bison/*
package/empty/empty-0.6.23c.tgz
package/empty/empty/*
package/flex/flex-2.6.4.tar.gz
package/flex/flex/*
package/tcl/tcl/*
package/tcl/tcl8.6.14-src.tar.gz
package/binutils/binutils-2.42.tar.xz
package/binutils/binutils/*
package/gcc/gcc-13.2.0.tar.xz
package/gcc/gcc/*
package/glib/glib-2.79.3.tar.xz
package/glib/glib/*
package/gmp/gmp-6.3.0.tar.xz
package/gmp/gmp/*
package/libfuse/fuse-3.16.2.tar.gz
package/libfuse/libfuse/*
package/mpc/mpc-1.3.1.tar.gz
package/mpc/mpc/*
package/mpfr/mpfr-4.2.1.tar.xz
package/mpfr/mpfr/*
package/qemu/qemu-8.2.1.tar.xz
