[submodule "package/busybox/busybox"]
	path = package/busybox/busybox
	url = https://git.busybox.net/busybox.git
	branch = 1_36_stable
[submodule "package/ekermit/ekermit"]
	path = package/ekermit/ekermit
	url = https://github.com/KermitProject/ekermit.git
[submodule "package/openssl/openssl"]
	path = package/openssl/openssl
	url = https://github.com/openssl/openssl
[submodule "package/zlib/zlib"]
	path = package/zlib/zlib
	url = https://github.com/madler/zlib
[submodule "package/git/git"]
	path = package/git/git
	url = https://github.com/git/git
[submodule "package/openssh/openssh"]
	path = package/openssh/openssh
	url = https://github.com/openssh/openssh-portable.git
[submodule "package/curl/curl"]
	path = package/curl/curl
	url = https://github.com/curl/curl
[submodule "package/qt5/qt5"]
	path = package/qt5/qt5
	url = https://code.qt.io/qt/qt5.git
	branch = 5.12
[submodule "toolchain/riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain
[submodule "package/libfuse/libfuse"]
	path = package/libfuse/libfuse
	url = https://github.com/libfuse/libfuse
[submodule "package/gnu-make/gnu-make"]
	path = package/gnu-make/gnu-make
	url = https://git.savannah.gnu.org/git/make.git
[submodule "package/gnu-emacs/gnu-emacs"]
	path = package/gnu-emacs/gnu-emacs
	url = https://git.savannah.gnu.org/git/emacs.git
[submodule "package/ncurses/ncurses"]
	path = package/ncurses/ncurses
	url = https://github.com/mirror/ncurses
[submodule "package/fuse-overlayfs/fuse-overlayfs"]
	path = package/fuse-overlayfs/fuse-overlayfs
	url = https://github.com/containers/fuse-overlayfs
[submodule "package/strace/strace"]
	path = package/strace/strace
	url = https://github.com/strace/strace
[submodule "package/evtest/evtest"]
	path = package/evtest/evtest
	url = https://gitlab.freedesktop.org/libevdev/evtest
[submodule "package/linux/linux"]
	path = package/linux/linux
	url = https://mirrors.bfsu.edu.cn/git/linux.git
[submodule "package/vmtouch/vmtouch"]
	path = package/vmtouch/vmtouch
	url = https://github.com/hoytech/vmtouch
[submodule "package/squashfs-tools-ng/squashfs-tools-ng"]
	path = package/squashfs-tools-ng/squashfs-tools-ng
	url = https://github.com/AgentD/squashfs-tools-ng
[submodule "package/lz4/lz4"]
	path = package/lz4/lz4
	url = https://github.com/lz4/lz4.git
[submodule "package/alsa-lib/alsa-lib"]
	path = package/alsa-lib/alsa-lib
	url = https://github.com/alsa-project/alsa-lib
[submodule "package/alsa-utils/alsa-utils"]
	path = package/alsa-utils/alsa-utils
	url = https://github.com/alsa-project/alsa-utils
[submodule "package/libexpat/libexpat"]
	path = package/libexpat/libexpat
	url = https://github.com/libexpat/libexpat
[submodule "package/dbus/dbus"]
	path = package/dbus/dbus
	url = https://gitlab.freedesktop.org/dbus/dbus
[submodule "package/libnl/libnl"]
	path = package/libnl/libnl
	url = https://github.com/thom311/libnl
[submodule "package/hostap/hostap"]
	path = package/hostap/hostap
	url = git://w1.fi/hostap.git
[submodule "package/libpcap/libpcap"]
	path = package/libpcap/libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "package/tcpdump/tcpdump"]
	path = package/tcpdump/tcpdump
	url = https://github.com/the-tcpdump-group/tcpdump
